*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* .html{
    font-size: 62.5%;
} */
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 30px;
}
.logo{
    margin: 20px 20px;
}
a{
    text-decoration: none;
    color: #555;
    transition: all 0.5s;
    display: inline-block;
}
.navbar a:hover{
    color:#ff523b;
    font-size: 20px;
}
p{
    color: #555;
}
.container{
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2{
    flex-basis: 50%;
    min-height: 300px;
}
.col-2 img{
    max-width: 80%;
    padding: 50px 0;
    margin-left: 10%;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 0px 0px;
}
.col-2 a{
    color: white;
    display: inline-block;
    background: #ff523b;
    padding: 8px 30px;
    margin: 50px 0;
    border-radius: 30px;
    transition:background 0.5s;
}
.container{
    background: radial-gradient(#fff,#FED8B1);
}
.container .row{
    margin-top: 160px;
}
.col-2 a:hover{
    background: #563434;
}
.offers{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    padding: 10px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;
    border-radius: 10px;
}
.mini-container{
    max-width: 1080px;
    margin:auto;
    padding: 20px 20px;
}
.items a{
    margin-left: 10px;
}
span{
    font-size: 10px;
}
.top{
    text-align: center;
    margin:0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#555;
}
.top::after{
    content: '';
    position: absolute;
    bottom: 0;
    background: #ff523b;
    width: 80px;
    height:5px;
    border-radius: 5px;
    transform: translateX(-50%);
    left:50%;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-3 p{
    font-size: 14px;
}
.ratings i{
    color: #ff523b;
}
.col-3:hover{
    transform: translateY(-10px);
}
.offered{
    background: radial-gradient(#fff,#FED8B1);
    margin-top: 80px;
    padding: 30px 0;
}
.offered span{
    font-size: 18px;
    font-weight: 600;
}
.offered h2{
    color:#555;
    margin-bottom: 30px;
}
.col-2 .zenitsu-sword{
    padding: 50px;
}
.offered .line{
    margin-bottom: 40px;
    font-size: 20px;
}
.offered .para{
    margin: auto;
    color: #555;
}
.reviews{
    padding-top: 100px;
}
.reviews .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 100px;
}
.reviews img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.fa.fa-quote-left{
    font-size: 20px;
    color: #ff523b  ;
}
.reviews p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.reviews h3{
    font-weight: 600;
    color: #555;
    font-size: 15px;
}
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color:white;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom:20px;
}
.footer-col-1{
    flex-basis: 35%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 15%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin:20px 0;
}
.cpyr{
    text-align: center;
}
.fa-solid{
    color:red;
}
.footer .container{
    background: #000;
}
.menu{
    width: 30px;
    margin-left: 20px;
    display: none;
}
.footer a{
    display: block;
    color: #8a8a8a;
    font-size: 15px;
    padding: 2px;
}
/* --------------------------medai query --------------------------- */
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top:150px;
        left:0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:white;
    }
    .menu{
        display: block;
        cursor: pointer;
    }
}
/* -----------------------------------media query for >600--------------------------------------------- */
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}
/* --------------------------------------------SCROLL BAR-------------------------------------------- */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    backgroung:#d1e5ff;
}
::-webkit-scrollbar-thumb{
    background:#ff523b;
    border-radius: 10px;
}