*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.html{
    font-size: 62.5%;
}

.content h2{
    margin: 2rem;
    font-size: 1.3rem;
    color:black;
}
.content{
    padding: 2rem;
    text-align: center;
}
.page{
    width: 100%;
    height: 100vh;
    background-image: url(Images/Login.jpg);
    background-size: cover;
    background-position: relative;

}
.textarea{
    text-align: center;
    
    background-color: #dddd;
    color: black;
    border: 0.2 rem solid transparent;
    margin-left: 30rem;
    border-top-left-radius: 10rem;
    border-bottom-right-radius: 10rem;
    outline: none;
    padding: 1.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    width: 30rem;
    height: 20rem;
    transition: all 0.2s;
}
.textarea:hover{
cursor: pointer;
background-color:seashell ;
}
.textarea:focus{
    cursor: text;
    color: black;
    background-color: white;
    border-color: black;
}